<li itemscope itemtype="http://schema.org/CreativeWork">
  <i class="fa-li fa fa-file-text-o pub-icon" aria-hidden="true"></i>
   <div class="pub">
      <div class="pub-title" itemprop="title">{{ .Title }}</div>
      <div class="pub-authors" itemprop="author">
         {{ with .Params.authors }}
         {{ delimit . ", " }}
         {{ end }}
      </div> 
      <div class="pub-publication" itemprop="publication">
         {{ .Params.publication_short }}
      </div>
   </div>
  <p>{{ partial "publication_links" (dict "content" . "is_list" 0) }}</p>
</li>
